--ranges no-space

--disable blankLinesAtStartOfScope,blankLinesAtEndOfScope,unusedArguments,initCoderUnavailable, trailingCommas,emptyBraces,extensionAccessControl,numberFormatting,preferForLoop,redundantType