--ranges no-space

--importgrouping testable-last

--disable blankLinesAtStartOfScope

--disable blankLinesAtEndOfScope

--disable unusedArguments

--disable initCoderUnavailable

--disable trailingCommas

--disable emptyBraces

--disable extensionAccessControl

--disable numberFormatting

--disable preferForLoop

--disable redundantType
